USE [master]
GO
/****** Object:  Database [ITSupportDB]    Script Date: 2024-01-15 9:21:47 AM ******/
CREATE DATABASE [ITSupportDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITSupportDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITSupportDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITSupportDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ITSupportDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITSupportDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITSupportDB]
GO
/****** Object:  User [ITSupportTicketSystem]    Script Date: 2024-01-15 9:21:47 AM ******/
CREATE USER [ITSupportTicketSystem] FOR LOGIN [ITSupportTicketSystem] WITH DEFAULT_SCHEMA=[ITSupportTicketSystem]
GO
/****** Object:  Schema [ITSupportTicketSystem]    Script Date: 2024-01-15 9:21:47 AM ******/
CREATE SCHEMA [ITSupportTicketSystem]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 2024-01-15 9:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2024-01-15 9:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[RequestedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 2024-01-15 9:21:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](100) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[RequestedByEmployeeID] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DateSubmitted] [datetime] NOT NULL,
	[RequestedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[SelectedProject] [nvarchar](255) NULL,
	[SelectedDepartment] [nvarchar](255) NULL,
	[DescriptionKeyword] [nvarchar](255) NULL,
	[RequesterName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_RequestedBy] FOREIGN KEY([RequestedBy])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_RequestedBy]
GO
USE [master]
GO
